*.zip
*.gz
*.tmp
*.out
Debug/
Release/
*.sdf
*.old
_UpgradeReport_Files
ipch
UpgradeLog.XML
*.suo
*.exe
.classpath
/Servers*
/.metadata
.idea/
*.iml
.svn
.DS_Store
*.log
*.log.?
*.log.??
composer.lock
vendor/
gen/
bin/
